body{
    background-color: #6495ed;
    font-family: Century;
}

form {
    background-color: #deb887;
}
form #form-product{
    background-color: #deb887;
    padding: 5em;
}

div #details {
    background-color: green;
    width: 200px;
    height: auto;
}

div #row{
    margin: 3px;
    border: #6495ed;
}

header{
    display:flex;
    justify-content: space-around;
    background-color: blue;
    color:white;
}

#logo{
    width: 20%;

}


    

  


