.title_input{
    font-family: Gill Sans, Gill Sans MT, Calibri, 
    Trebuchet MS, sans-serif;
    background-color: #6495ED;
    color: #0F0E0E;
    box-shadow: 10px 10px rgb(185, 182, 182);
}

#title-ingreso {
    margin-top: 100px;
    margin-left: 60px;
    font-size: 25px;
    min-height: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 15px;    
}

.style_form {
    margin-left: 60px;
    background-color: #DEB887; 
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px rgb(185, 182, 182);
}

   /* margin: auto;*/
    


