.title_system {
    font-family: Gill Sans, Gill Sans MT, Calibri, 
    Trebuchet MS, sans-serif;
    background-color: #6495ED;
    color: #0F0E0E;
    min-height: 90px;
}

.image_logo {
    width: 60%;
    height: 100%;
    border-radius: 10px;
    flex-basis: 100%;
}

.title {
    font-size: 30px;
    text-align: left;
    margin-left: 0px;
}

.title_form {
    font-size: 20px;
    text-align: center;
}

.subtitle {
    font-size: 30px; 
    text-align: right;
}

.return_print {
	margin-top: 4px;
	background:linear-gradient(to bottom, #6494ed 5%, #019ad2 100%);
	background-color:#6494ed;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #6494ed;
    margin-right: 3px;
}

.return_print:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #6494ed 100%);
	background-color:#019ad2;
}
.return_active:active {
	position:relative;
	top:1px;
}

.style_form_users {
    margin-top: 3px;
    margin:auto;
    background-color: #DEB887; 
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px rgb(185, 182, 182);

}

.rol {
    margin-top: 3px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 15px;
    padding: 10px;
}

.rol input{
    margin-right: 10px;
}