#title-ingreso {
    margin-top: 40px;
    margin-left: 30px;
    font-size: 25px;
    min-height: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 15px;    
    background-color: #FFFFFF;
    width: 480px;
}

.title_input{
    font-family: Gill Sans, Gill Sans MT, Calibri, 
    Trebuchet MS, sans-serif;
    background-color: #FFFFFF;
    color: #0F0E0E;
}

.style_form {
    margin-left: 30px;
    background-color: #FFFFFF; 
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 91px;
    width: 480px;
}

.style_form_2 {
    
    margin-top: 40px;
    margin-left: 30px;
    background-color: #FFFFFF; 
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 105px;
    width: 480px;
}

.style_form_2_A {
    
    margin-top: 40px;
    margin-left: 30px;
    background-color: #FFFFFF; 
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 91px;
    width: 480px;
}

.style_form_2_1 {
    
    margin-top: 10px;
    padding-top: 20px;
}

#return {
    margin-left: -5px;
    color: #314deb;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #4c8beb 5%, #019ad2 100%);
	background-color:#4c8beb;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 51px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #4c8beb 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}

.print_form {
    
    margin-top: -17px;
    margin-left: 80px;
    margin-bottom: 380px;
    font-size: 15px;
    min-height: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;    
    background-color: #FFFFFF;
    width: 480px;
}

.guide{

    margin-top: 35px; 
    margin-left: 90px; 
}




